{% load static %}
{% load cache_bust %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django Girls blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}?cache_bust={% cache_bust %}">
    </head>
    <body>
        <header class="page-header">
            <div class="container">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu">
                        {% include './icons/file-earmark-plus.svg' %}
                    </a>
                {% endif %}
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
        </header>

        <main class="container">
            <div class="row">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>
